@font-face {
  font-family: 'Graphik';
  src: url('../../fonts/graphik-light.woff2') format('woff2'),
    url('../../fonts/graphik-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik';
  src: url('../../fonts/graphik-regular.woff2') format('woff2'),
    url('../../fonts/graphik-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
