.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 6vw;
  height: 6vw;
  border-radius: 50%;
  pointer-events: none;
  z-index: 5000;
  mix-blend-mode: difference;
  transition: top 0.35s ease;
  font-size: 0.75vw;
  opacity: 0;
}

.cursor.hide {
  display: none;
}

.cursor.play,
.cursor.close {
  mix-blend-mode: normal;
  top: -2vw;
}

.cursor__inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.cursor.active .cursor__circle {
  transform: scale(1);
}

.cursor__circle {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: scale(0.2);
  background: $main-color;
  border: 1px solid transparent;
  transition: transform 0.35s ease, opacity 0.35s ease, background 0.35s ease,
    border-color 0.35s ease;
}

.cursor__play,
.cursor__close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  color: #000;
  opacity: 0;
  transform: opacity 0.4s ease;
}

.cursor.play .cursor__play {
  opacity: 1;
}

.cursor.close .cursor__close {
  opacity: 1;
}
