.header {
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
  display: flex;
  padding: 0 5vw;
  z-index: 101;
}

@media screen and (min-width: 700px) {
  .header {
    top: 0;
    padding: 3vw 5vw 0;
  }
}

.header__logo {
  width: 25%;
  display: flex;
  align-items: baseline;
  overflow: hidden;
}

.header__logo__link {
  display: flex;
  align-items: baseline;
  gap: 6px;
  width: 114px;
  transition: transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1) 0.3s;
}

.loading .header__logo__link {
  transform: translateY(-110%);
  transition: transform 0s;
}

@media screen and (min-width: 700px) {
  .header__logo__link {
    gap: 0.5vw;
    width: fit-content;
  }
}

.header__logo svg {
  width: auto;
  height: 18px;
}

@media screen and (min-width: 700px) {
  .header__logo svg {
    height: 1.15vw;
  }
}

.header__logo svg path {
  fill: $main-color;
}

.header__logo p {
  position: relative;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: -0.05vw;
  text-transform: none;
  opacity: 0.8;
}

@media screen and (min-width: 700px) {
  .header__logo p {
    font-size: 1.5vw;
    opacity: 0.5;
  }
}

.header__title {
  width: 52.5%;
  font-size: 0.75vw;
  font-weight: 400;
  margin: 0.67em 0;
  display: none;
}

@media screen and (min-width: 700px) {
  .header__title {
    display: block;
  }
}

.header__title .line__inner {
  transition: transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1) 0.3s;
  transform: translateY(0%);
}

.loading .header__title .line__inner {
  transform: translateY(-110%);
  transition: transform 0s;
}

.header__toggle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3vw;
  width: 75%;
  text-align: right;
}

@media screen and (min-width: 700px) {
  .header__toggle {
    width: 22.5%;
  }
}

.header__toggle__bar {
  opacity: 0.8;
  transition: opacity 0.3s cubic-bezier(0.22, 0.61, 0.36, 1) 0.3s;
}

.loading .header__toggle__bar {
  opacity: 0;
  transition: opacity 0s;
}

@media screen and (min-width: 700px) {
  .header__toggle__bar {
    opacity: 0.5;
  }
}

.about__link {
  pointer-events: auto;
}

.header__toggle.active .about__link {
  pointer-events: none;
}

.about__link .line__inner {
  transition: transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1) 0.3s;
  transform: translateY(0);
}

.header__toggle.active .about__link .line__inner {
  transition: transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
  transform: translateY(-110%);
}

.loading .about__link .line__inner {
  transform: translateY(-110%);
  transition: transform 0s;
}

.close__link {
  position: absolute;
  pointer-events: none;
}

.header__toggle.active .close__link {
  pointer-events: auto;
}

.close__link .line__inner {
  transition: transform 0.3s cubic-bezier(0.55, 0.06, 0.68, 0.19);
  transform: translateY(110%);
}

.loading .close__link .line__inner {
  transition: transform 0s;
  transform: translateY(110%);
}

.header__toggle.active .close__link .line__inner {
  transition: transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1) 0.3s;
  transform: translateY(0);
}

.loading .header__toggle.active .close__link .line__inner {
  transform: translateY(-110%);
  transition: transform 0s;
}
