footer.footer
  .footer__progress
    .footer__progress__num
      span.footer__progress__toggle 00
      | &nbsp;/&nbsp;
      span 07
    .footer__progress__bar
      .footer__progress__bar__line
      .footer__progress__bar__track
  .footer__info
    .footer__info__detail
      .lines.fade
        span.line
          span.line__inner client
        span.line
          span.line__inner photographer
        span.line
          span.line__inner category
      .lines
        span.line
          span.line__inner(data-client) client name
        span.line
          span.line__inner(data-director) photographer name
        span.line
          span.line__inner(data-category) category name
      .lines.fade
        span.line
          span.line__inner location
        span.line
          span.line__inner industry
        span.line
          span.line__inner year
      .lines
        span.line
          span.line__inner(data-location) location name
        span.line
          span.line__inner(data-industry) industry name
        span.line
          span.line__inner(data-year) year name
    .footer__info__base
      span.line
        span.line__inner Selected Works
      span.line
        span.line__inner.fade © 2022 Elowen Films
      div &nbsp;
  .footer__scroll
    span.line.footer__scroll__drag
      span.line__inner Scroll / Drag
    span.line.footer__scroll__close
      span.line__inner [esc] to close