header.header
  div.header__logo
    a.header__logo__link(href='/')
        img.header__logo__img(src='/img/Elowen.svg', alt='Elowen Films')
        p ©
  h1.header__title
    span.line
      span.line__inner Production
    span.line
      span.line__inner House
  div.header__toggle
    span.header__toggle__bar /
    a.header__toggle__link.about__link(href='/about')
      span.line
        span.line__inner About
    a.header__toggle__link.close__link(href='/')
      span.line
        span.line__inner Close