.slider
  .slider__container
    .slider__carousel
      a.slide(href='/works/lyrissa', data-bg='#1B1C23', data-color='#B9C2DE', data-index='0')
        img.slide__img(src='/img/lyrissa.webp', alt='Fragrance lyrissa by elowen Films | Bali, Jakarta and Singapore Production House')
        .slide__info
          p.slide__client Fragrance lyrissa
          p.slide__director Noah Williams
          p.slide__category Commercial
          p.slide__location Zambia, Africa
          p.slide__industry Travel
          p.slide__year 2018
      a.slide(href='/works/zephyr', data-bg='#241F18', data-color='#BEAF90', data-index='1')
        img.slide__img(src='/img/zephyr.webp', alt='')
        .slide__info
          p.slide__client The zephyr
          p.slide__director Evangeline Thorne
          p.slide__category Branding
          p.slide__location Tromsø Municipality, Norway
          p.slide__industry Sport
          p.slide__year 2022
      a.slide(href='/works/auriel', data-bg='#20211A', data-color='#A9A68B', data-index='2')
        img.slide__img(src='/img/auriel.webp', alt='')
        .slide__info
          p.slide__client auriel Resort
          p.slide__director Evangeline Thorne
          p.slide__category Branding
          p.slide__location Oki Islands, Japan
          p.slide__industry Travel
          p.slide__year 2021
      a.slide(href='/works/sylvaia', data-bg='#221F1D', data-color='#ECC8A2', data-index='3')
        img.slide__img(src='/img/sylvaia.webp', alt='')
        .slide__info
          p.slide__client sylvaia Segara
          p.slide__director Evangeline Thorne
          p.slide__category Branding
          p.slide__location Tromsø Municipality, Norway
          p.slide__industry Sport
          p.slide__year 2022
      a.slide(href='/works/elixia', data-bg='#241B17', data-color='#BEAD99', data-index='4')
        img.slide__img(src='/img/elixia.webp', alt='')
        .slide__info
          p.slide__client elixia Hotel
          p.slide__director Maximilian Beaumont
          p.slide__category Branding
          p.slide__location Santorini, Greece
          p.slide__industry Travel
          p.slide__year 2021
      a.slide(href='/works/seraphine', data-bg='#04142D', data-color='#E9C4BC', data-index='5')
        img.slide__img(src='/img/seraphine.webp', alt='')
        .slide__info
          p.slide__client seraphine
          p.slide__director Evangeline Thorne
          p.slide__category Branding
          p.slide__location Varanasi, India
          p.slide__industry Travel
          p.slide__year 2020
      a.slide(href="/works/infinite", data-bg="#221F1B", data-color="#D6CBB8", data-index="6")
        img.slide__img(src="/img/infinite.webp", alt="")
        .slide__info
          p.slide__client Infinite Jilin
          p.slide__director Maximilian Beaumont
          p.slide__category Commercial
          p.slide__location Jilin, China
          p.slide__industry Travel
          p.slide__year 2017
